@use "../../variables" as *;

main p {
  color: $color-secondary;

  font-family: $font-secondary;
  font-size: $font-secondary-size-paragraph;
  font-weight: $font-secondary-weight-paragraph;

  line-height: 20px;
}

main h1 {
  color: $color-secondary;

  font-family: $font-main;
  font-size: $font-main-size-h1;
  font-weight: $font-main-weight-h1;

  margin-left: 3vh;
}