@use "../../variables" as *;

main p {
  color: $color-secondary;

  font-family: $font-secondary;
  font-size: 1rem;
  font-weight: 280;

  line-height: 20px;
}

main h1 {
  color: $color-secondary;

  font-family: $font-main;
  font-size: 2rem;
  font-weight: 500;

  margin-left: 3vh;
}