@use "../abstracts/variables" as *;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $color-primary;
  font-family: $font-secondary;
  font-optical-sizing: auto;
}

body::before {
  display: flex;
  justify-content: center;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/icons/vlc_white.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: 100px;
  opacity: 0.1;
  z-index: -1;
  pointer-events: none;
}
