@use "../variables" as *;

header h1 {
    margin: 0;
    line-height: 10vh;
    width: 50%;

    color: $color-primary;
    background-color: $color-secondary;

    text-align: left;
    padding-left: 2vh;

    font-family: $font-main;
    font-weight: 800;
    font-size: 5vh;
}